.rectangle3 {
    display: flex;
    flex-direction: row;
   padding-bottom: 106px;
   flex-wrap: wrap;
   justify-content: center;
}

.text {
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto;
    padding: 10% 0 0 10%;
}
.text div{
    padding-bottom: 30px;
    padding-right: 5%;
}


.bala-sirs-message {
    color: #000;
    font-family: Cormorant;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.message-from-our {
    color: #000;
    font-family: Cormorant;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sri-balaji-university {
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 183.4%; /* 29.344px */
    padding-bottom: 2%;
}

.we-are-proud {
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 183.4%; /* 29.344px */
    padding-bottom: 2%;
    
  
}

.readmore {
    text-decoration: underline;
    color:    #000000;
    
}
.balasir{
    flex: 1;
    display:flex;
    justify-content: space-around;
    margin: auto;
}

.balasir img{
   
   
    width: 618px;
    height:618px;
    background-position: 50% 50%; /* 50% horizontal and 50% vertical */
    /* background-size: contain; */
    background-repeat: no-repeat;
   object-fit: cover;

   
    
    
   
}

@media screen and (max-width: 768px) {
    .balasir img{
   
   
        width: 318px;
        height:318px;
        background-position: 50% 50%; /* 50% horizontal and 50% vertical */
        /* background-size: contain; */
        background-repeat: no-repeat;
       object-fit: cover;
    
       
        
        
       
    }
}