.rectangle4 {
  display: flex;
  flex-direction: column;

}


.component {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-wrap: wrap;
  background: url(../../../public/charming.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;

}



.flex-container>div {
  background-color: rgba(31, 31, 31, 0.77);
  flex: 1;
  /* width: 33.2%; */
  height: 700px;
  font-size: 30px;
  border-right: 2px solid #fff;
  justify-content: center;

}

.matter1 {
  padding-top: 202px;
  padding-left: 100px;
  padding-right: 150px;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 177.9%;
  /* 28.464px */
}

.matter2 {
  padding-top: 202px;
  padding-left: 100px;
  padding-right: 80px;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 177.9%;
  /* 32.022px */
}

.matter3 {
  padding-top: 202px;
  padding-left: 100px;
  padding-right: 80px;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 177.9%;
  /* 32.022px */
}


.mba {
  color: #FFF;
  text-align: center;
  font-family: Cormorant;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mba1 {
  color: #FFF;
  text-align: center;
  font-family: Cormorant;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mba2 {
  color: #FFF;
  text-align: center;
  font-family: Cormorant;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.pm-hrd {
  color: #FFF;
  text-align: center;
  font-family: Cormorant;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.marketing-management {
  color: #FFF;
  text-align: center;
  font-family: Cormorant;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.chiparea {
  display: flex;
  padding-top: 100px;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
  margin-bottom: 4%;
  flex-direction: row;
  flex-wrap: wrap;
}

.chip {
  display: flex;
  padding: 2px 2px;
  height: 79px;
  font-size: 14px;
  flex-shrink: 0;
  /* width: 15%; */
  flex: 1;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 31px 80px rgba(0, 0, 0, 0.1), 0 13px 33.42px rgba(0, 0, 0, 0.07), 0 6.9px 17.87px rgba(0, 0, 0, 0.06), 0 3.9px 10.02px rgba(0, 0, 0, 0.05), 0 2.1px 5.32px rgba(0, 0, 0, 0.04), 0 0.9px 2.21px rgba(0, 0, 0, 0.03);
  align-items: flex-start;
  margin: 1%;

}

.chip svg {
  align-items: center;
  margin: 10px 10px 0 25px;
  height: 56px;
  width: 56px;
  border-radius: 50%;
}

.chip p {
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  align-items: center;
  
}

.chip:hover {
  background-color: #E31E24;

}

.chip:hover  svg{
  fill: #fff;
}

.chip:hover p{
  color: #fff;
}