.rect7{
    display: flex;
   
    flex-wrap: wrap;
     justify-content: space-between;
     background: linear-gradient(90deg, #3A3285 3.08%, #E31E24 98.72%);
     
    
}

.ladies{
 display: flex;
 flex: 1;
 justify-items: flex-end;
    
}
.ladies img{
    padding-top: 29%;
    width: 618px;
   object-fit: contain;
    
}
.text7{
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: left;
 
   
  
}
.person7 p{
    color: #FFF;
    font-family: Cormorant;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 90.1%; /* 65.344px */
   
    
}
.journey7 {
    color: #FFF;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 155.6%; /* 37.344px */
    
   
}
.reactform{
    height: 250px;
}
form{
    display: flex;
    flex-direction: column;
    /* padding: 10%; */
}
.lower{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
form input{
vertical-align: middle;
  margin: 20px 30px 5px 0;
  padding: 20px;
  background-color: #ffffff;
  opacity: .4;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-display: white;
}
 button{
   
    /* vertical-align: middle; */
  margin: 20px 30px 5px 0;
  padding:  20px;
  background-color: #ffffff;
  opacity: .4;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-display: white;
  padding-top: 0;
  padding-bottom: 0;
    
}
label{
    color: #FFF;
font-family: Raleway;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 155.6%; /* 20.228px */
}